{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/categories-add.css" />
{{/contentFor}}

<main class="categoriesMain">
  <h1 class="categoriesMain-tittle">Categorías</h1>
  <form class="categoriesMain-form" action="/categories" method="post">
    <label for="nombreCategoria">Nombre</label>
    <input
      type="text"
      id="nombreCategoria"
      name="nombreCategoria"
      autocomplete="off"
      placeholder="Nombre de la categoría"
    />
    <label for="portadaCategoria">Portada</label>
    <input type="text" id="portadaCategoria" name="portadaCategoria" autocomplete="off" placeholder="URL de la portada"/>
    <button type="submit">Guardar</button>
  </form>
</main>