{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/categories.css">
{{/contentFor}}

<main class="categoriesMain">

<h1>Categories</h1>
<a class="categoriesMain-addBtn" href="/categories/categories-add">Add category +</a>

<div class="categoriesMain-categories">
    {{#each categories}}
            <h4 class="categoriesMain-categories-celd">{{categoryName}}</h4>
            {{!--<img src="{{image}}" alt="">--}}

            <div class="categoriesMain-categories-btns categoriesMain-categories-celd">
              <a href="/categories/edit/{{_id}}"><img src="/assets/pen.png" alt="edit icon"></a>
              <button onclick="deleteCategory('{{_id}}')">
                <img src="/assets/bin.png" alt="delete icon">
              </button>
            </div>
    {{/each}}
</div>
</main>

<script>
  async function deleteCategory(id) {
    const confirmDelete = confirm("Are you sure you want to delete this category?");
    if (confirmDelete) {
      const res = await fetch(`/categories/${id}`, { method: 'DELETE' });
      if (res.ok) {
        location.reload(); // Reload the page to reflect the changes
      } else {
        alert("There was an error deleting the category.");
      }
    }
  }
</script>
