{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/manage-form.css" />
{{/contentFor}}

<main class="main">
  <h1 class="main-title">Categories</h1>
  <form class="main-form" action="/categories" method="post">
    <label for="category_name">Name</label>
    <input
      type="text"
      id="category_name"
      name="category_name"
      autocomplete="off"
      placeholder="Category name"
    />

    <label for="category_description">Description</label>
    <input
      type="text"
      id="category_description"
      name="category_description"
      autocomplete="off"
      placeholder="Category description"
    />

    <label for="category_image">Cover</label>
    <input
      type="text"
      id="category_image"
      name="category_image"
      autocomplete="off"
      placeholder="Cover URL"
    />

    <button type="submit">Save</button>
  </form>
</main>
