{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/manage-form.css">
{{/contentFor}}

<main class="main">
<h1 class="main-title">Editing "<span>{{category.categoryName}}</span>"</h1>
<form class="main-form" id="editForm">
    <input type="hidden" autocomplete="off" name="id" value="{{category._id}}">
    <label for="name">Name</label>
    <input type="text" id="name" name="categoryName" autocomplete="off" value="{{category.categoryName}}" placeholder="Category name">
    
    <label for="cover">Cover</label>
    <input type="text" id="cover" name="cover" value="{{category.categoryCover}}" autocomplete="off" placeholder="Cover URL">
    <button type="submit">Save changes</button>
</form>
</main>

<script>
  document.getElementById('editForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formData = new FormData(e.target);
    const id = formData.get('id');
    
    const data = {
      categoryName: formData.get('categoryName'),
      categoryCover: formData.get('cover')
    };

    const res = await fetch(`/categories/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });

    if (res.ok) {
      alert('Category successfully updated');
      window.location.href = '/categories'; // Redirects back to the categories list
    } else {
      alert('Error updating category');
    }
  });
</script>
