<h1>Bienvenido {{user.username}} al panel de administrador</h1>
<a href="/logout">Cerrar sesión</a>

<div class="list-container">
    <a href="/menu">Carta Menú</a>
    <a href="">Categorías</a>
    <a href="">Cabeceras</a>
    <a href="">Sobre Nosotros</a>
    <a href="">Sucursales</a>
</div>