{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/admin-panel.css" />
{{/contentFor}}

<main class="admn-mainContainer">
  <article>
    <section class="admn-mainContainer-textContainer">
      <h1 class="admn-mainContainer-title">¡Hola
        <span class="admn-mainContainer-userName">{{user.username}}</span>!
      </h1>
      <h2 class="admn-mainContainer-subTitle">Bienvenido al panel de
        administrador</h2>
    </section>

    <p class="admn-mainContainer-text">¿Qué desea gestionar?</p>
    <a class="admn-mainContainer-anchor" href="/menu">Carta Menú</a>
    <a class="admn-mainContainer-anchor" href="">Categorías</a>
    <a class="admn-mainContainer-anchor" href="">Cabeceras</a>
    <a class="admn-mainContainer-anchor" href="">Sobre Nosotros</a>
    <a class="admn-mainContainer-anchor" href="">Sucursales</a>
  </article>

</main>