{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/admin-panel.css" />
{{/contentFor}}

<main class="admin-mainContainer">
  <article>
    <section class="admin-mainContainer-textContainer">
      <h1 class="admin-mainContainer-title">Hello,
        <span class="admin-mainContainer-userName">{{user.admin_name}}</span>!
      </h1>
      <h2 class="admin-mainContainer-subTitle">Welcome to the admin panel</h2>
    </section>

    <p class="admin-mainContainer-text">What would you like to manage?</p>
    <a class="admin-mainContainer-anchor" href="/menu">Menu</a>
    <a class="admin-mainContainer-anchor" href="/categories">Categories</a>
    <a class="admin-mainContainer-anchor" href="/combo-offers">Combos & Offers</a>
    <a class="admin-mainContainer-anchor" href="/branches">Branches</a>
  </article>

</main>
