{{#contentFor 'styles'}}
  <link rel='stylesheet' href='/css/manage-table.css' />
{{/contentFor}}

<main class='main'>
  <h1>Combo Offers</h1>
  <a href='/combo-offers/add' class='main-addBtn'>Add Combo Offer +</a>
  <div class='main-list'>
    {{#if comboOffers}}
      {{#each comboOffers}}
        <h4 class='main-list-item'>{{comboOfferName}}</h4>
        <div class='main-list-btns main-list-item'>
          <a href='/combo-offers/edit/{{_id}}'><img
              src='/assets/pen.png'
              alt='Edit icon'
            /></a>
          <button onclick="deleteComboOffer('{{_id}}')">
            <img src='/assets/bin.png' alt='Delete icon' />
          </button>
        </div>
      {{/each}}
    {{else}}
      <h2>No combo offers available</h2>
    {{/if}}
  </div>
</main>

<script>
    async function deleteComboOffer(id) {
        const confirmDelete = confirm("Are you sure you want to delete this combo offer?");
        if (confirmDelete) {
            await fetch(`/combo-offers/${id}`, { method: 'DELETE' });
            location.reload(); // Reload page to reflect changes
        }
    }
</script>
