<nav>
  <ul>
    <li>
      {{#unless (eq currentPath "/admin-panel")}}
        <button onclick="window.history.back()">
          <img src="/assets/flecha-izquierda.png" alt="go back" />
        </button>
      {{/unless}}
    </li>
    <li>
      <a href="/logout">Log out</a>
    </li>
  </ul>
</nav>
