{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/ofertas-combos.css">
{{/contentFor}}


<main class="ofertasCombosMain">
    <h1>Ofertas y combos</h1>
    <a href="ofertas-combos/add" class="ofertasCombosMain-add">Agregar ofertas y combos +</a>
    {{#if ofertasCombos}}
        
        {{#each ofertasCombos }}
            <div class="ofertasCombosMain-ofertaCombo">
                <h4 class="ofertasCombosMain-ofertaCombo-celd">{{nombreOfertaCombo}}</h4>
                <div class="ofertasCombosMain-ofertaCombo-btns ofertasCombosMain-ofertaCombo-celd">
                    <a href="/ofertas-combos/edit/{{_id}}"><img src="/assets/pen.png" alt="edit icon"></a>
                    <button onclick="eliminarOfertaCombo('{{_id}}')">
                        <img src="/assets/bin.png" alt="delete icon">
                    </button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h2>No hay ofertas ni combos</h2>
    {{/if}}
</main>

<script>
    async function eliminarOfertaCombo(id) {
    const confirmar = confirm("¿Seguro que quieres eliminar esta oferta/combo?");
    if (confirmar) {
      await fetch(`/ofertas-combos/${id}`, { method: 'DELETE' });
      location.reload(); // Recargar la página para ver los cambios
    }
  }
</script>