{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/ofertas-combos-add.css" />
{{/contentFor}}

<main class="ofertasCombosMain">
  <h1 class="ofertasCombosMain-tittle">Ofertas y combos</h1>
  <form class="ofertasCombosMain-form" action="/ofertas-combos/create" method="post">
    <label for="nombreOfertaCombo">Nombre</label>
    <input
      type="text"
      id="nombreOfertaCombo"
      name="nombreOfertaCombo"
      autocomplete="off"
      placeholder="Nombre de oferta/combo"
    />
    <label for="descripcionOfertaCombo">Descripción</label>
    <textarea
      type="text"
      id="descripcionOfertaCombo"
      name="descripcionOfertaCombo"
      autocomplete="off"
      placeholder="Descripción de oferta/combo"
    ></textarea>
    <label for="precioOfertaCombo">Precio</label>
    <input
      type="number"
      id="precioOfertaCombo"
      name="precioOfertaCombo"
      step="0.01"
      autocomplete="off"
      placeholder="Precio de oferta/combo"
    />
    <label for="portadaOfertaCombo">Portada</label>
    <input type="text" id="portadaOfertaCombo" name="portadaOfertaCombo" autocomplete="off" placeholder="URL de la portada"/>
    <button type="submit">Guardar</button>
  </form>
</main>