.admn-mainContainer{
    display: grid;
    place-items: center;
    gap: 30px;
    padding: 25px;
}

.admn-mainContainer-anchor{
    background-color: #CD563E;
    width: 100%;
    height: 62px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
}

.admn-mainContainer-title{
    font-size: 2em;
    font-weight: 500;
}

.admn-mainContainer-userName{
    color: #CD563E;
}

.admn-mainContainer-subTitle{
    font-size: 1.5em;
    font-weight: 450;
}

.admn-mainContainer-text{
    font-size: 1.4em;
}