.comboOffersEditMain {
    display: grid;
    place-items: center;
    padding: 25px;
    gap: 30px;
}

.comboOffersEditMain-title {
    font-weight: 450;
}

.comboOffersEditMain-title span {
    color: #CD563E;
}

.comboOffersEditMain-form {
    display: grid;
    width: 100%;
    background-color: #CD563E;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
}

.comboOffersEditMain-form label {
    color: #fff;
    font-size: 1.2rem;
}

.comboOffersEditMain-form input, textarea {
    background-color: #ECAC9F;
    border: none;
    border-radius: 20px;
    color: #B84E39;
    padding: 10px;
    resize: none;
}

.comboOffersEditMain-form input::placeholder, textarea::placeholder {
    color: #B84E39;
}

.comboOffersEditMain-form input:focus, textarea:focus {
    outline: none;
}

.comboOffersEditMain-form button {
    background: #8D3625;
    color: #fff;
    border: 2px solid #4F190E;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
}

@media (min-width: 700px) {
    .comboOffersEditMain-form {
        width: 650px;
    }
}
