.main {
    display: grid;
    place-items: center;
    padding: 25px;
    gap: 30px;
}

.main-title {
    font-weight: 450;
}

.main-title span {
    color: #CD563E;
}

.main-form {
    display: grid;
    width: 100%;
    background-color: #CD563E;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
}

.main-form label {
    color: #fff;
    font-size: 1.2rem;
}

.main-form input, select, textarea {
    background-color: #ECAC9F;
    border: none;
    border-radius: 20px;
    color: #B84E39;
    padding: 10px;
    resize: none;
}

.main-form input::placeholder, .main-form textarea::placeholder {
    color: #B84E39;
}

.main-form input:focus, select:focus, textarea:focus {
    outline: none;
}

.main-form button {
    background: #8D3625;
    color: #fff;
    border: 2px solid #4F190E;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
}

@media (min-width: 700px) {
    .main-form {
        width: 650px;
    }
}
