.menuMainContainer{
    padding: 25px;
    display: grid;
    place-items: center;
    gap: 10px;
}

.menuMainContainer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #CD563E;
    padding: 10px;
    gap: 5px;
    border-radius: 25px;
}

.menuMainContainer-menu-celd{
    background-color: #8C3C2B;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
}

.menuMainContainer-menu-btns{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.menuMainContainer-menu-btns button{
    background-color: transparent;
    border: none;
}

.menuMainContainer-menu-btns img{
    width: 32px;
    height: 32px;
}