.product-modal, .combo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.product-modal section, .combo-modal section {
  background-color: #fff;
  width: 90%;
  max-width: 650px;
  height: 600px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.product-modal section .close-container, .combo-modal section .close-container {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  .close-modal {
    width: 25px;
    cursor: pointer;
  }

  .close-combo-modal {
    width: 25px;
    cursor: pointer;
  }
}

.product-modal section .products-container, .combo-modal section .combos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  overflow-y: scroll;
}

.product-modal section .products-container .product-item, .combo-modal section .combos-container .combo-item {
  background-color: #dcdcdc;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-modal section .products-container .product-item button, .combo-modal section .combos-container .combo-item button {
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.product-modal section .products-container .product-item button:hover, .combo-modal section .combos-container .combo-item button:hover {
  background-color: rgb(227, 101, 5);
}

.items-tags{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
  gap: 10px;
}

.item-tag {
  background-color: #ff6a00;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 5px;
}

.product-actions, .combo-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-quantity {
  font-weight: bold;
  margin: 0 0.3rem;
}

.hidden {
  display: none;
}
