{{#contentFor 'styles'}}
  <link rel='stylesheet' href='/css/manage-form.css' />
{{/contentFor}}

<main class='main'>
  <h1 class='main-title'>Add Branch</h1>
  <form class='main-form' action='/branches' method='post'>
    <label for='province'>Province</label>
    <input
      type='text'
      id='province'
      name='province'
      autocomplete='off'
      placeholder='Province'
    />

    <label for='locality'>Locality</label>
    <input
      type='text'
      id='locality'
      name='locality'
      autocomplete='off'
      placeholder='Locality'
    />

    <label for='address'>Address</label>
    <input
      type='text'
      id='address'
      name='address'
      autocomplete='off'
      placeholder='Branch Address'
    />

    <label for='phone_number'>Phone Number</label>
    <input
      type='text'
      id='phone_number'
      name='phone_number'
      autocomplete='off'
      placeholder='Branch Phone Number'
    />

    <button type='submit'>Save</button>
  </form>
</main>
