{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/menu-add.css" />
{{/contentFor}}

<main class="menuAddMain">
  <h1 class="menuAddMain-title">Adding Food</h1>
  <form class="menuAddMain-form" action="/menu" method="POST">
    <label for="productName">Name</label>
    <input
      id="productName"
      type="text"
      name="productName"
      placeholder="Product name"
      autocomplete="off"
    />
    <label for="category">Category</label>
    <select id="category" name="category">
      {{#each categories}}
        <option value="{{categoryName}}">{{categoryName}}</option>
      {{/each}}
    </select>
    <label for="price">Price</label>
    <input
      id="price"
      type="number"
      name="price"
      placeholder="Price"
      step="0.01"
      autocomplete="off"
      required
    />
    <label for="image">Image</label>
    <input id="image" type="text" name="image" autocomplete="off" placeholder="Image URL" />
    <button type="submit">Save</button>
  </form>
</main>
