{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/menu-add.css" />
{{/contentFor}}

<main class="menuAddMain">
  <h1 class="menuAddMain-tittle">Agregando comida</h1>
  <form class="menuAddMain-form" action="/menu" method="POST">
    <label for="nombreProducto">Nombre</label>
    <input
      id="nombreProducto"
      type="text"
      name="nombreProducto"
      placeholder="nombre del producto"
      autocomplete="off"
    />
    <label for="categoria">Categoría</label>
    <select id="categoria" name="categoria">
      {{#each categories}}
        <option value="{{nombreCategoria}}">{{nombreCategoria}}</option>
      {{/each}}
    </select>
    <label for="precio">Precio</label>
    <input
      id="precio"
      type="number"
      name="precio"
      placeholder="precio"
      step="0.01"
      autocomplete="off"
      required
    />
    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" autocomplete="off" placeholder="url imagen" />
    <button type="submit">Guardar</button>
  </form>
</main>
