{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/login.css" />
{{/contentFor}}

<main class="loginMain">
  <h1 class="loginMain-tittle">Register</h1>

  <form class="loginMain-form" action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" autocomplete="off" placeholder="Enter your username" id="username" />
    <label for="password">Password</label>
    <input type="password" placeholder="Enter your password" autocomplete="off" name="password" id="password" />
    <button type="submit">Sign Up</button>
    <a href="/login">Log in</a>
  </form>
</main>
