{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/login.css" />
{{/contentFor}}

<main class="loginMain">
  <h1 class="loginMain-tittle">Register</h1>

  <form class="loginMain-form" action="/register" method="POST">
    <label for="">Usuario</label>
    <input type="text" name="username" autocomplete="off" placeholder="Nombre del usuario" id="username" />
    <label for="">Contraseña</label>
    <input type="password" placeholder="Contraseña" autocomplete="off" name="password" id="password" />
    <button type="submit">Ingresar</button>
    <a href="/login">Iniciar sesión</a>
  </form>
</main>